.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo {
  margin-right: 10px;
  width: 50px; /* Adjust size as needed */
  height: auto;
  padding-right: 50px;
}

.header-title {
  margin: 0;
}

/* Rest of your CSS */
