.navbar {
  height: 7vh;
  background: #005fa5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-start;
  margin-left: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1 rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: darkblue;
}

.user-registration-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000; /* Ensure it's above other elements */
}

